/*开发样例列表*/
	/*公共*/
.xn_c_examples{width:1200px;margin:40px auto 0px;}
.xn_c_examples_left{width:280px;float:left;background:#fafafa;min-height: 980px}
.examples_top{font-size:22px;text-align:center;line-height:94px;font-weight:bold;color:#fff;background:url(../Images/examples_tbg.png) no-repeat center center;}
.examples_llist_text1 a{display:block;padding:0px 30px;font-size:16px;color:#181818;line-height: 65px;border-bottom:1px solid #f0f0f0;}
.examples_llist_text1.on a{background:#f0f0f0;color:#00796a;}
.xn_c_examples_right{width:860px;float:right;padding-bottom:100px;}
.xn_c_examples_righttop{overflow:hidden;}
.examples_ru1{font-size:12px;color:#999;float:left;padding-top:20px;}
.examples_ru1 li{float:left;}
.gauze_on{color:#00796a;}
.examples_search{float:right;}
.examples_input{width:270px;height:50px;float:left;}
.examples_search_btn{border:none;width:54px;height:54px;background-image: url(../Images/examples_searc_btn.png);background-repeat: no-repeat;background-position: center center;background-color: #00796a;cursor:pointer;}

	/*内容*/
.exampleslist_contlist{overflow:hidden;margin-top:40px;}
.exampleslist_contlist_tleft h1{font-size:30px;color:#000;}
.exampleslist_contlist_time{font-size:14px;color:#999999;margin-top:10px;}
.exampleslist_contlist_top{overflow:hidden;}
.exampleslist_contlist_c{margin-top:30px;font-size:14px;color:#141414;line-height:28px;}
